<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
        bead: 配置一个bean对象 将类对象交给IOC容器管理
        属性 id:唯一标识
        class: 对应的类型
  -->

    <bean id="helloWorld" class="com.wzh.spring.pojo.HelloSpring"></bean>
</beans>